h1= title
p 画像レスチャットNo.1
input(id="user", type="text", value="masuilab")
input(id="body", type="text", value="オハヨーオハヨー", size=100, x-webkit-speech)
input(id="btn_send", type="button", value="send")
ul(id="tiqav")
ul(id="chat")
div(id="footer")
url = "https://github.com/shokai/tiqav-chat"
  a(href=url)= url

script(type="application/javascript", src="/javascripts/main.js")
