h1= title
p Welcome to #{title}
input(id='user', type='text', value='masuilab')
input(id='body', type='text', value='オハヨーオハヨー', size=100)
input(id='btn_send', type='button', value='send')
ul(id='tiqav')
ul(id='chat')

script(type='application/javascript', src='/javascripts/main.js')
