h1= title
p Welcome to #{title}
input(id='user', type='text', value='おなまえ')
input(id='body', type='text', value='オハヨーオハヨー')
input(id='btn_send', type='button', value='send')
ul(id='chat')

script(type='application/javascript', src='/javascripts/main.js')
