!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='application/javascript', src='/javascripts/jquery.js')
    script(type='application/javascript', src='/socket.io/socket.io.js')
  body!= body