body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul#tiqav {
  list-style: none;
}

ul#tiqav li {
  padding : 5px;
  background-color: #FFBBBB;
  float: left;
}

#chat {
  clear: left;
}

#chat .icon {
  margin-right: 4px;
}
